
.git
.github
.gitignore


__pycache__/
.ipynb_checkpoints/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/*.so


notebooks/
tests/
data/
predictions/
confusion_matrix.png
evaluation_metrics.json
project_structure.sh
*.sh
*.log


README.md
*.md
*~
*.bak
*.tmp


*.png
- *.jpg
+ !frontend/uploaded_image.jpg
+ *.jpg



.env
.venv
env/
venv/
ENV/

# IDE/editor config
.idea/
.vscode/

